<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.CloudPlatform.ProxyServer.mapper.ProxyInfoMapper">

    <resultMap type="com.hq.CloudPlatform.ProxyServer.entity.ProxyInfo" id="proxyInfoResultMap">
        <result column="id" property="id" javaType="java.lang.String"/>
        <result column="original_url" property="originalUrl" javaType="java.lang.String"/>
        <result column="proxy_url" property="proxyUrl" javaType="java.lang.String"/>
        <result column="type" property="type" javaType="java.lang.String"/>
        <result column="url_key" property="urlKey" javaType="java.lang.String"/>
    </resultMap>

    <!-- table: ps_proxy_info -->
    <sql id="column">
        t.id,
        t.original_url,
        t.proxy_url,
        t.type,
        t.url_key
    </sql>

    <insert id="save" parameterType="com.hq.CloudPlatform.ProxyServer.entity.ProxyInfo">
        insert into ps_proxy_info(id,original_url,proxy_url,type,url_key)
        values(#{id},#{originalUrl},#{proxyUrl},#{type},#{urlKey})
    </insert>

    <update id="update" parameterType="com.hq.CloudPlatform.ProxyServer.entity.ProxyInfo">
        update ps_proxy_info t18
        <include refid="sql_update"/>
        where t18.id=#{id}
    </update>

    <update id="batchUpdate" parameterType="java.util.Map">
        update ps_proxy_info t18
        <include refid="sql_update"/>
        where t18.id in
        <foreach item="item" index="index"
                 collection="idList" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <delete id="deleteByWhere" parameterType="java.util.Map">
        delete t18 from ps_proxy_info as t18
        <include refid="sql_where"/>
    </delete>

    <delete id="deleteById" parameterType="java.lang.String">
        delete from ps_proxy_info where id = #{id}
    </delete>

    <update id="logicDeleteById" parameterType="java.lang.String">
        update ps_proxy_info t18 SET t18.is_delete=1 where t18.id=#{id}
    </update>

    <delete id="batchDelete" parameterType="java.util.List">
        delete from ps_proxy_info where id in
        <foreach item="item" index="index"
                 collection="idList" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <update id="logicBatchDelete" parameterType="java.util.List">
        update ps_proxy_info t18 SET t18.is_delete=1 where id in
        <foreach item="item" index="index"
                 collection="idList" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="findById" resultMap="proxyInfoResultMap">
        select
        <include refid="column"/>
        from ps_proxy_info as t18
        where t18.id = #{id}
        LIMIT 0, 1
    </select>

    <select id="findByName" resultMap="proxyInfoResultMap">
        select
        <include refid="column"/>
        from ps_proxy_info as t18
        where t18.name like CONCAT(#{name}, '%' )
        LIMIT 0, 1
    </select>

    <select id="findAll" resultMap="proxyInfoResultMap">
        select
        <include refid="column"/>
        from ps_proxy_info as t18
    </select>

    <select id="findByMap" parameterType="java.util.Map" resultMap="proxyInfoResultMap">
        select
        <include refid="column"/>
        from ps_proxy_info as t18
        <include refid="sql_where"/>
    </select>

    <select id="getCount" parameterType="java.util.Map" resultType="int">
        select
        count(1)
        from ps_proxy_info as t18
        <include refid="sql_where"/>
    </select>

    <select id="findByPage" parameterType="java.util.Map" resultMap="proxyInfoResultMap">
        select
        <include refid="column"/>
        from ps_proxy_info as t18
        <include refid="sql_where"/>
        <!--
            中文字段正确排序方式如下：
            CONVERT(t.username USING gbk) COLLATE gbk_chinese_ci
        -->
        <choose>
            <when test="orderFields != null and orderFields.size() > 0">
                order by
                <foreach collection="orderFields" index="idx" item="item" open="" separator="," close="" >
                    <if test="item.field == 'id'">t18.id ${item.sortType}</if>
                    <if test="item.field == 'name'">t18.name ${item.sortType}</if>
                    <if test="item.field == 'description'">t18.description ${item.sortType}</if>
                    <if test="item.field == 'icon'">t18.icon ${item.sortType}</if>
                    <if test="item.field == 'createDate'">t18.create_date ${item.sortType}</if>
                    <if test="item.field == 'creatorId'">t18.creator_id ${item.sortType}</if>
                    <if test="item.field == 'creator'">t18.creator ${item.sortType}</if>
                    <if test="item.field == 'updateDate'">t18.update_date ${item.sortType}</if>
                    <if test="item.field == 'updaterId'">t18.updater_id ${item.sortType}</if>
                    <if test="item.field == 'updater'">t18.updater ${item.sortType}</if>
                    <if test="item.field == 'deleteDate'">t18.delete_date ${item.sortType}</if>
                    <if test="item.field == 'deleterId'">t18.deleter_id ${item.sortType}</if>
                    <if test="item.field == 'deleter'">t18.deleter ${item.sortType}</if>
                    <if test="item.field == 'isDelete'">t18.is_delete ${item.sortType}</if>
                    <if test="item.field == 'isValid'">t18.is_valid ${item.sortType}</if>
                </foreach>
            </when>
            <otherwise>
                order by t18.create_date desc
            </otherwise>
        </choose>
        limit #{startRowNum}, #{pageSize}
    </select>

    <select id="getCountWithRelationShip" parameterType="java.util.Map" resultType="int">
        select
        count(distinct t18.id)
        from ps_proxy_info as t18
        left join ps_proxy_info_res as t19 on t18.id = t19.subject_id
        left join rmc_resource as t1 on t19.res_id = t1.id
        left join ps_proxy_info_authority as t20 on t18.id = t20.subject_id
        <include refid="sql_where"/>
    </select>

    <select id="findByPageWithRelationShip" parameterType="java.util.Map" resultMap="proxyInfoResultMap">
        select
        distinct <include refid="column"/>
        from ps_proxy_info as t18
        left join ps_proxy_info_res as t19 on t18.id = t19.subject_id
        left join rmc_resource as t1 on t19.res_id = t1.id
        left join ps_proxy_info_authority as t20 on t18.id = t20.subject_id
        <include refid="sql_where"/>
        <!--
            中文字段正确排序方式如下：
            CONVERT(t.username USING gbk) COLLATE gbk_chinese_ci
        -->
        <choose>
            <when test="orderFields != null and orderFields.size() > 0">
                order by
                <foreach collection="orderFields" index="idx" item="item" open="" separator="," close="" >
                    <if test="item.field == 'id'">t18.id ${item.sortType}</if>
                    <if test="item.field == 'name'">t18.name ${item.sortType}</if>
                    <if test="item.field == 'description'">t18.description ${item.sortType}</if>
                    <if test="item.field == 'icon'">t18.icon ${item.sortType}</if>
                    <if test="item.field == 'createDate'">t18.create_date ${item.sortType}</if>
                    <if test="item.field == 'creatorId'">t18.creator_id ${item.sortType}</if>
                    <if test="item.field == 'creator'">t18.creator ${item.sortType}</if>
                    <if test="item.field == 'updateDate'">t18.update_date ${item.sortType}</if>
                    <if test="item.field == 'updaterId'">t18.updater_id ${item.sortType}</if>
                    <if test="item.field == 'updater'">t18.updater ${item.sortType}</if>
                    <if test="item.field == 'deleteDate'">t18.delete_date ${item.sortType}</if>
                    <if test="item.field == 'deleterId'">t18.deleter_id ${item.sortType}</if>
                    <if test="item.field == 'deleter'">t18.deleter ${item.sortType}</if>
                    <if test="item.field == 'isDelete'">t18.is_delete ${item.sortType}</if>
                    <if test="item.field == 'isValid'">t18.is_valid ${item.sortType}</if>
                </foreach>
            </when>
            <otherwise>
                order by t18.create_date desc
            </otherwise>
        </choose>
        limit #{startRowNum}, #{pageSize}
    </select>

    <sql id="sql_where">
        <where>
            <if test="id != null and id != ''">
                <![CDATA[
                    and t18.id = #{id}
                ]]>
            </if>
            <if test="name != null and name != ''">
                <![CDATA[
                    and t18.name like CONCAT(#{name},'%' )
                ]]>
            </if>
            <if test="description != null and description != ''">
                <![CDATA[
                    and t18.description = #{description}
                ]]>
            </if>
            <if test="icon != null and icon != ''">
                <![CDATA[
                    and t18.icon = #{icon}
                ]]>
            </if>
            <if test="createDate != null and createDate != ''">
                <![CDATA[
                    and t18.create_date = #{createDate}
                ]]>
            </if>
            <if test="creatorId != null and creatorId != ''">
                <![CDATA[
                    and t18.creator_id = #{creatorId}
                ]]>
            </if>
            <if test="creator != null and creator != ''">
                <![CDATA[
                    and t18.creator = #{creator}
                ]]>
            </if>
            <if test="updateDate != null and updateDate != ''">
                <![CDATA[
                    and t18.update_date = #{updateDate}
                ]]>
            </if>
            <if test="updaterId != null and updaterId != ''">
                <![CDATA[
                    and t18.updater_id = #{updaterId}
                ]]>
            </if>
            <if test="updater != null and updater != ''">
                <![CDATA[
                    and t18.updater = #{updater}
                ]]>
            </if>
            <if test="deleteDate != null and deleteDate != ''">
                <![CDATA[
                    and t18.delete_date = #{deleteDate}
                ]]>
            </if>
            <if test="deleterId != null and deleterId != ''">
                <![CDATA[
                    and t18.deleter_id = #{deleterId}
                ]]>
            </if>
            <if test="deleter != null and deleter != ''">
                <![CDATA[
                    and t18.deleter = #{deleter}
                ]]>
            </if>
                <![CDATA[
                    and t18.is_delete = 0
                ]]>
            <if test="isValid != null and isValid != ''">
                <![CDATA[
                    and t18.is_valid = #{isValid}
                ]]>
            </if>

        </where>
    </sql>

    <sql id="sql_update">
        <set>
            <if test="id != null and id != ''">
                <![CDATA[
                    t18.id = #{id},
                ]]>
            </if>
            <if test="name != null and name != ''">
                <![CDATA[
                    t18.name = #{name},
                ]]>
            </if>
            <if test="description != null and description != ''">
                <![CDATA[
                    t18.description = #{description},
                ]]>
            </if>
            <if test="icon != null and icon != ''">
                <![CDATA[
                    t18.icon = #{icon},
                ]]>
            </if>
            <if test="createDate != null and createDate != ''">
                <![CDATA[
                    t18.create_date = #{createDate},
                ]]>
            </if>
            <if test="creatorId != null and creatorId != ''">
                <![CDATA[
                    t18.creator_id = #{creatorId},
                ]]>
            </if>
            <if test="creator != null and creator != ''">
                <![CDATA[
                    t18.creator = #{creator},
                ]]>
            </if>
            <if test="updateDate != null and updateDate != ''">
                <![CDATA[
                    t18.update_date = #{updateDate},
                ]]>
            </if>
            <if test="updaterId != null and updaterId != ''">
                <![CDATA[
                    t18.updater_id = #{updaterId},
                ]]>
            </if>
            <if test="updater != null and updater != ''">
                <![CDATA[
                    t18.updater = #{updater},
                ]]>
            </if>
            <if test="deleteDate != null and deleteDate != ''">
                <![CDATA[
                    t18.delete_date = #{deleteDate},
                ]]>
            </if>
            <if test="deleterId != null and deleterId != ''">
                <![CDATA[
                    t18.deleter_id = #{deleterId},
                ]]>
            </if>
            <if test="deleter != null and deleter != ''">
                <![CDATA[
                    t18.deleter = #{deleter},
                ]]>
            </if>
            <if test="isDelete != null and isDelete != ''">
                <![CDATA[
                    t18.is_delete = #{isDelete},
                ]]>
            </if>
            <if test="isValid != null and isValid != ''">
                <![CDATA[
                    t18.is_valid = #{isValid},
                ]]>
            </if>
        </set>
    </sql>
</mapper>